:root {
    /* colors */
    --emerald: #26594d;
    --dark-green: #5a8c32;
    --matcha: #a2be52;
    --black: #282828;
    --white: #f4f4f4;
    --tan: #e2d6c9;
    --yellow: #ecc64f;
    --orange: #e5a755;
    --red: #cc5140;
    --teal: #8ebdbd;

    /* fonts */
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Capuche', sans-serif;
    --body-weight: 300;
}
@font-face {
    font-family: 'Capuche';
    src: url(./assets/fonts/Capuche\ Trial.otf);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--black);
    font-family: var(--primary-font);
    font-weight: var(--body-weight);
}
body > * {
    margin: 0 80px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button {
    border: none;
    background-color: transparent;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 80px;
    margin-bottom: 20px;
}
.header__title {
    font-family: var(--secondary-font);
    font-size: 110px;
    padding-right: 25px;
    border-right: 5px solid;
}
.header__sub_title {
    font-weight: 300;
    font-size: 37px;
    text-transform: uppercase;
}

/* navbar */
nav {
    border-bottom: 3px solid var(--black);
    padding-bottom: 5px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 70px;
    padding-bottom: 10px;
}
nav ul li {
    border-bottom: 4px solid transparent;
    transition: 1s color ease-in-out;
}
#link__home:hover {
    color: var(--dark-green);
}
#link__logo:hover {
    color: var(--yellow);
}
#link__colours:hover {
    color: var(--teal);
}
#link__typography:hover {
    color: var(--emerald);
}
#link__visuals:hover {
    color: var(--matcha);
}

/* back to top button */
.back_to_top__container {
    margin-top: 50p;
    display: flex;
    justify-content: flex-end;
}
.back_to_top__button {
    padding: 18px 22px;
    border-radius: 50%;
}

/* footer */
footer {
    margin: 50px 0 0;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}
footer a {
    border-bottom: 1px solid;
}
footer div {
    text-align: right;
}