@import './global.css';

#link__home {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--red);
}
main {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 200px;
}
main img {
    height: 100%;
}
.content__container {
   width: 450px;
}
.content__container h1 {
    font-size: 38px;
    font-weight: var(--body-weight);
    margin-bottom: 20px;
}
.back_to_top__button {
    background-color: var(--red);
}
footer {
    color: var(--white);
    background-color: var(--red);
}