@import '../../global.css';

#link__typography {
    color: var(--emerald);
    padding-bottom: 5px;
    border-bottom: 4px solid var(--emerald);
}
main {
    margin-top: 70px;
    margin-bottom: 25px;
}
main > h1 {
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 50px;
}
.typo__container {
    display: flex;
}
.typo__container > * {
    width: 50%;
    text-align: center;
    padding: 40px 110px 80px;
}
.typo__container .typo__capuche {
    border: 2px solid var(--black);
}
.typo__capuche h1,
.typo__capuche h2 {
    font-family: var(--secondary-font);
}
.typo__capuche h1 {
    font-size: 240px;
}
.typo__capuche h2 {
    font-size: 64px;
    margin: -55px 0 40px;
}
.typo__container .typo__lato {
    color: var(--white);
    background-color: var(--black);
}
.typo__lato h1 {
    font-weight: 900;
    font-size: 200px;
}
.typo__lato h2 {
    font-weight: 700;
    font-size: 62px;
    margin: -35px 0 40px;
}
.typo__container h3 {
    font-weight: 400;
    font-size: 30px;
}
.typo__container p {
    font-size: 20px;
}
.typo__example {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
    gap: 110px;
    text-align: center;
}
.typo__example .typo__capuche {
    font-family: var(--secondary-font);
}
.typo__example .typo__capuche h3 {
    font-size: 36px;
}
.typo__example .typo__capuche p {
    margin-top: 40px;
    font-size: 30px;
}
.typo__example .typo__lato h3 {
    font-size: 32px;
    font-weight: 400;
}
.typo__example .typo__lato p {
    margin-top: 40px;
    font-size: 28px;
    font-weight: 400;
}
.usage {
    display: flex;
    gap: 40px;
}
.usage h2 {
    font-weight: 300;
    font-size: 48px;
    height: fit-content;
    padding-bottom: 5px;
    border-bottom: 6px solid var(--emerald);
    margin-right: 160px;
}
.back_to_top__button {
    background-color: var(--emerald);
}
footer {
    color: var(--white);
    background-color: var(--emerald);
}

