@import '../../global.css';


.page__container {
    margin-top: 70px;
    margin-bottom: 25px;
}

.page__title {
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 50px;
}

.icons > h2 {
    border-bottom: 5px solid var(--yellow);
    width: 2.5em;
}

.images__style > h2 {
    border-bottom: 5px solid var(--yellow);
    width: 10em;
}

.links_display {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 2em;
    font-size: 1.5em;
    font-weight: 400;
}

a:hover {
    color: var(--yellow);
}

.back_to_top__button, footer {
    color: var(--black);
    background-color: var(--yellow);
}
