@import '../../global.css';

#link__logo{
    color: var(--red);
    padding-bottom: 5px;
    border-bottom: 4px solid var(--red);
}

.page__container {
    margin-top: 70px;
    margin-bottom: 25px;
}

.page__title {
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 50px;
}

.back_to_top__button, footer {
    color: var(--white);
    background-color: var(--red);
}